/* サイトロゴ css  */
.site-logo {
    font-family: Righteous, cursive;
    font-size: 24px;
}

/* 詳細を見るボタン css */
.looking {
    margin: 10px;
}

/* レビュー一覧画面のサムネイル トリミング用css */
.book-image {
    object-fit: cover;
}

/* レビュー詳細のいいねボタンのカラー用css */
.button-pink {
    background-color: #e04d96;
}

/* textareaの可変域の無効化及び大きさの調整 */
textarea {
    resize: none;
    width: 450px !important;
    height: 150px !important;
}

/* 検索欄の空白用 css */
.category {
    margin: 10px;
}
.freeword {
    margin: 10px;
}
.search {
    margin-bottom: 20px;
}

/* 検索用のテーブルカラー */
thead {
    background-color: #3490dc;
}

/* セル幅を自動調整 */
table {
    width: auto !important;
}

/* レビュー詳細画面のボタン調整用 css */
.delete-btn {
    margin-left: 220px;
    margin-top: -115px;
}
.edit-btn {
    margin-left: 100px !important;
}
