/* サイトロゴ css  */
.site-logo {
    font-family: Righteous, cursive;
    font-size: 24px;
}

/* 詳細を見るボタン css */
.looking {
    margin: 10px;
}

/* レビュー一覧画面のサムネイル トリミング用css */
.book-image {
    object-fit: cover;
}

/* レビュー詳細のいいねボタンのカラー用css */
.button-pink {
    background-color: #e04d96;
}

/* textareaの可変域の無効化及び大きさの調整 */
textarea {
    resize: none;
    width: 450px !important;
    height: 150px !important;
}
